#field {
    -fx-background-image: url("Resources//football_field.png");
}

#marcador {
    -fx-background-color: #202020;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 5px;
    -fx-border-color: #202020;
}
#rojo {
   -fx-background-color: red;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-border-color: red;

}

#azul {
   -fx-background-color: blue;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-border-color: blue;
}

#leftscore {
    -fx-font-size: 23px;
    -fx-text-fill: white;
}

#rightscore {
    -fx-font-size: 23px;
    -fx-text-fill: white;
}

#guion {
    -fx-font-size: 23px;
    -fx-text-fill: white;
}
#guion {
    -fx-font-size: 23px;
    -fx-text-fill: white;
}
#timer {
    -fx-font-size: 23px;
    -fx-text-fill: white;
}